yelp_data/
yelp_csv/
2018_reviews.csv
yelp.db
subset_calculations/
pittsburgh_businesses.csv
pittsburgh_businesses_review_count.csv
pittsburgh_businesses_similarities.csv
pittsburgh_reviews.csv
pittsburgh_users.csv
charlotte/
las_vegas/
open_table/
phoenix/
pittsburgh/
toronto/
notes/
chicago_job.sh
other_reviews/
yelp_calculations/
